<header class="header">
  &nbsp;

  <div class="header__box">
    <div class="header__logo">
      <img src="../../assets/img//logo.png" class="header__logo__img" />
    </div>
    <div class="header__indicator">
      <p class="gobal__para">
        Already Registered?
        <a href="#" class="links__content header__link">Login</a>
        here
      </p>
    </div>
  </div>
  <div class="header__main__content u-margin-top-small">
    &nbsp;

    <p class="header__para">Tell us about yourself</p>
  </div>
</header>
